node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
reports/
allure-report/
.yarnrc.yml
.yarn/
.pnp.cjs
.pnp.loader.mjs